@if (data.dataType === DataType.REFERENCED) {
  <div>
    @switch (data.content.mediaType) {
      @case (MediaType.PHOTO) {
        @if (isDialog) {
          <img [src]="data.content.url" alt="image" class="display-in-dialog" />
        } @else {
          <img [src]="data.content.url" alt="image" [width]="width" />
        }
      }
      @case (MediaType.VIDEO) {
        @if (isYoutubeVideo(data.content.url)) {
          <youtube-player
            [videoId]="getYoutubeVideoID(data.content.url)"
            [width]="width"
            [height]="CONVERSION_16_TO_9 * width!"
          ></youtube-player>
        } @else {
          <video controls [width]="width" [class.display-in-dialog]="isDialog">
            <source [src]="data.content.url" type="video/mp4" />
          </video>
        }
      }
      @case (MediaType.SOUNDFILE) {
        <audio controls>
          <source [src]="data.content.url" type="audio/mpeg" />
        </audio>
      }
    }
  </div>
}
@if (data.dataType === DataType.NOTREFERENCED) {
  <div>
    @if (localData$ | async; as localData) {
      <ngx-json-viewer [depth]="1" [json]="localData"></ngx-json-viewer>
    }
  </div>
}
