<div class="slider-container">
  <div>
    <div>Adjust the size of the displayed items:</div>
  </div>

  <mat-slider [max]="1200" [min]="50" [step]="10">
    <input matSliderThumb [(ngModel)]="width">
  </mat-slider>
</div>

@for (collection of this.dataSource$ | async; track collection) {
  <div>
    <mat-expansion-panel [(expanded)]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ collection.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="per-collection">
        @for (datafile of collection.results; track datafile) {
          <app-data-display
            [data]="datafile"
            [width]="width"
          ></app-data-display>
        }
      </div>
    </mat-expansion-panel>
  </div>
}
